@font-face {
    font-family: "CascadiaCode";
    src: url("/res/CascadiaCode.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
}

* {
    padding         : 0;
    margin          : 0.25rem 0 0.25rem 0;
    font-family     : "Montserrat", sans-serif;

    --trans-time    : 250ms;
    --bg-color      : #161618;
}

body {
    background-color: var(--bg-color);
    color           : white;
    padding         : 0.25rem 5rem 0.25rem 5rem;
}

h1 *, h1 {
    font-size       : xx-large;
    font-weight     : 800;
    padding         : 0.25rem;
    margin-bottom   : 0.5rem;
    border-bottom   : white solid 1px;
}

h2 *, h2 {
    font-size       : x-large;
    font-weight     : 700;
    padding         : 0.15rem;
}

a:any-link {
    color           : #38ffcd;
    transition      : var(--trans-time);
    text-decoration : none;
}

a:any-link:hover {
    background-color: white;
    color           : var(--bg-color);
    padding         : 0.35rem;
    box-shadow      : 0 0 5px white;
}

a[target="_blank"]:hover {
    background-color: transparent;
    color           : transparent;
    padding         : 0;
    box-shadow      : none;
}

img {
    border-radius   : 5px;
    border          : #363638 solid 2px;
    transition      : var(--trans-time);
}

img:hover {
    border          : white solid 2px;
    box-shadow      : 0 0 5px white;
}

.imgdetail {
    position        : relative;
    top             : 1rem;
    background-color: white;
    color           : var(--bg-color);
}

code, .highlight {
    background-color: #363638;
    border          : #363638 solid 2px;
    border-radius   : 5px;
    padding         : 0.15rem;
    font-family     : "CascadiaCode", monospace !important;
}

.highlight * {
    font-family     : "CascadiaCode", monospace !important;
}

.highlight {
    padding         : 0.5rem;
    margin-left     : 1rem;
}

nav {
    background-color: white;
    color           : var(--bg-color);
    padding         : 1rem;
    position        : sticky;
    top             : 0;
    left            : 0;
    right           : 0;
    text-align      : center;
}

nav * {
    color           : var(--bg-color) !important;
}

nav > p {
    padding         : 0;
}

nav a:any-link {
    padding         : 0.3rem !important;
    font-size       : 1.2rem;
}

nav a:any-link:hover {
    background-color: var(--bg-color) !important;
    color           : white !important;
    padding         : 0.3rem !important;
    box-shadow      : 0 0 5px var(--bg-color);
}

ul {
    margin-left     : 3em;
}

p {
    padding-left    : 1rem;
}

.anchor {
    visibility      : hidden;
}