.card .top {
    display: flex;
    flex-direction: row;
}

.card .title {
    font-size: 1.25em;
    font-weight: 450;
    margin-right: auto;
}

.card .date {
    color: var(--subt1);
    font-size: 0.85em;
    margin: auto 0;
}

.card .tags {
    font-size: 0.85em;
}

/* small screen */
@media only screen and (max-width: 25rem) {
    .card .top {
        flex-direction: column;
    }
}

.tag {
    color: var(--subt1);
    text-decoration: none;
}
