@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

@property --base-nav {
    syntax: "<color>";
    initial-value: #fff;
    inherits: false;
}

:root {
    /* tailwind m-1, m-2, m-3, .. */
    --space-xs: 0.25em;
    --space-s: 0.5em;
    --space-m: 0.75em;
    --space-l: 1em;
    --space-xl: 1.25em;
    --space-xxl: 1.5em;
}

html {
    min-height: 100%;
    background: var(--base);
    transition: all 0.25s;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--text);
    font-family: "Fira Sans", system-ui, sans-serif;
}

* {
    transition: all 0.25s;
}

*::selection {
    background: var(--selbg);
}

/* navbar */
nav {
    display: flex;
    position: sticky;
    margin: 0;
    padding: var(--space-s);
    top: 0;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
    border-bottom: 1px solid var(--surf2);
}

#navbg {
    --base-nav: var(--base);
    transition: --base-nav 0.25s;

    position: absolute;
    inset: 0;
    height: 100%;
    background: var(--base);
    pointer-events: none;
    z-index: -1;
}

@supports (mask-image: linear-gradient(to bottom, red 0)) {
    #navbg {
        height: 200%;
        mask-image: linear-gradient(
            to bottom,
            black 0% 50%,
            transparent 50% 100%
        );
    }
}

@supports (backdrop-filter: blur(12px)) {
    #navbg {
        backdrop-filter: blur(12px);
        background: linear-gradient(
            to bottom,
            var(--base-nav) 0%,
            transparent 24px
        );
    }
}

#navinner, #navham {
    display: flex;
    flex-direction: row;
}

#navinner { grid-area: inner; }
#navham { grid-area: ham; }

#navinner > span > a, nav button {
    border: none;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: var(--space-xs);
    color: var(--text);
    background: transparent;
    padding: var(--space-s);
    cursor: pointer;

    display: inline-flex;
    box-sizing: border-box;
}

#navinner > span > a > *, nav button > * {
    margin: auto 0;
}

#navinner > span > a:hover, nav button:hover {
    background: var(--surf0);
}

#navinner > span > a.active, #navinner > span > a:active {
    background: var(--surf1);
}

a:has(.logo) {
    grid-area: logo;

    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

.logo {
    width: fit-content;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

a:has(.logo)::after {
    content: "funn's home";
    font-size: 1.25em;
    font-weight: 500;
    color: var(--text);
}

/* navbar phone */
@media only screen and (max-width: 45rem) {
    nav {
        display: grid;
        grid-template-areas: "logo ham" "inner inner";
        padding-bottom: 0;
        max-height: 100vh;
    }

    #navham {
        height: 2.5em;
        margin-left: auto;
    }

    #navinner {
        height: 0;
        margin-top: var(--space-s);
        overflow: hidden;
        flex-direction: column;
    }

    #navinner.expand {
        height: var(--height);
        overflow: auto;
    }

    #navinner > span {
        border-top: 1px solid var(--surf2);
    }

    #navinner > span.social {
        text-align: center;
    }

    #navinner > span > a {
        height: 2.5em;
    }

    #navinner > span:not(.social) > a {
        width: 100%;
        padding-left: 10%;
    }

    #navinner > a:has(.logo), #theme_tog {
        display: none;
    }
}

/* navbar pc */
@media only screen and (not (max-width: 45rem)) {
    #navinner {
        height: 2.5em;
        margin-left: auto;
        gap: var(--space-xl);
    }

    #navinner > span {
        align-self: end;
        height: 100%;
    }

    #navinner > span > a {
        height: 100%;
        text-align: center;
        max-width: fit-content;
    }

    #navham {
        display: none;
    }
}

/* page content */
div#page_content {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--blue);
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-decoration-style: dotted;
}

a:hover, a:active {
    text-decoration-style: solid;
}

h1 {
    margin-top: 0;
    margin-bottom: var(--space-s);
}

#page_content > :not(div) + h1 {
    margin-top: var(--space-l);
}

h2 {
    margin-top: var(--space-m);
    margin-bottom: var(--space-s);
}

h3, h4, h5, h6 {
    margin-top: var(--space-s);
    margin-bottom: var(--space-xs);
}

p {
    text-wrap: pretty;
    margin-top: 0;
    margin-bottom: var(--space-xxl);
    line-height: 1.6;
}

ul {
    margin: var(--space-xs) 0;
}

.card {
    background: var(--crust);
    border: 1px solid var(--surf0);
    border-radius: 16px;
    margin-bottom: var(--space-l);
    padding: var(--space-l);
}

code {
    font: 1em "Fira Code", "Lucida Console", "Courier", monospace;
}

/* page content phone */
@media only screen and (max-width: 599px) {
    div#page_content {
        padding: var(--space-l);
    }
}

/* page content smol pc */
@media only screen and (min-width: 600px) {
    div#page_content {
        padding: var(--space-xl);
    }
}

/* page content pc */
@media only screen and (min-width: 1200px) {
    div#page_content {
        padding: var(--space-xxl);
    }
}
