@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    /* tailwind m-1, m-2, m-3, .. */
	--space-xs: 0.25rem;
	--space-s: 0.5rem;
	--space-m: 0.75rem;
	--space-l: 1rem;
	--space-xl: 1.25rem;
	--space-xxl: 1.5rem;

    --color-text: #cad3f5;

	--color-primary: #b7e4c7;
	--color-primary-dim: #2d6a4f;
	--color-normal: #fff;
	--color-normal-dim: #2f3e46;
}

html {
    min-height: 100%;
    background: #24273a;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: var(--color-text);
	font-family: "Inter", "Roboto", "Arial", sans-serif;
	line-height: 1.5;
}

/* navbar */
nav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index: 99;
    background: #363a4f;
}

#navinner, #navham {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--space-s);
}

#navinner > span > a, #hamburger {
    outline: none;
    border: none;

    transition: all 0.25s;
    text-align: center;
    text-decoration: none;
    color: var(--color-text);
    background: #494d64;
    display: inline-block;
    padding: var(--space-s) var(--space-m);
}

#navinner > span > a:hover, #hamburger:hover {
    background: #7f85a0;
}

#navinner > span > a.active, #navinner > span > a:active, #hamburger:active, #hamburger.active {
    background-color: #5b6078 !important;
}

a:has(.logo) {
    display:flex;
    align-items: center;
    height: var(--space-xxl);
    margin: auto var(--space-s);
    gap: var(--space-xs);
    text-decoration: none;
    flex-grow: 1;
}

.logo {
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

a:has(.logo)::after {
    content: "funn's homie";
    color: var(--color-text);
}

#hamburger {
    align-self: end;
    margin-left: auto;
}

/* navbar pc */
@media only screen and not (max-width: 600px) {
    #navinner > span {
        align-self: end;
    }

    #navinner > span > a {
        max-width: fit-content;
    }

    #navham {
        display: none;
    }
}

/* navbar phone */
@media only screen and (max-width: 600px) {
    nav {
        overflow: auto;
    }

    #navinner {
        display: none;
        flex-direction: column;
        margin-top: var(--space-s);
    }

    #navinner > span > a {
        display: block;
        padding: var(--space-s) 0;
    }

    #navinner > a:has(.logo) {
        display: none;
    }
}

/* page content */
div#page_content {
    margin-top: calc(var(--space-m) * 2 + var(--space-xs) + var(--space-s));
    padding: var(--space-l);
}

a {
	color: #8aadf4;
}

h1 {
	margin-top: 0;
	margin-bottom: var(--space-l);
}

h2 {
	margin-top: 0;
	margin-bottom: var(--space-m);
}

h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: var(--space-s);
}

p {
	text-align: justify;
	margin-top: 0;
	margin-bottom: var(--space-m);
}

ul {
	margin: var(--space-xs) 0;
}

/* blog index */
.post {
    margin-bottom: var(--space-m);
    padding: var(--space-m);
    background-color: #363a4f;
    border-radius: var(--space-s);
}

.post .top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post .title {
    font-size: 1.25rem;
    flex-grow: 1;
}

.post .date {
    color: #b8c0e0;
    font-size: 0.85rem;
    margin: auto 0;
}

.post .tags {
    font-size: 0.85rem;
}
