@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
	/*
	LIGHT:
	 2^(x + 2)
	-----------
	    10
	*/
	--margin-xs: 0.4rem;
	--margin-s: 0.566rem;
	--margin-m: 0.8rem;
	--margin-l: 1.131rem;
	--margin-xl: 1.6rem;
	--margin-xxl: 2.263rem;

	--color-primary: #b7e4c7;
	--color-primary-dim: #2d6a4f;
	--color-normal: #fff;
	--color-normal-dim: #2f3e46;
}

html {
    min-height: 100%;
    background: rgb(18,16,14);
    background: linear-gradient(315deg, rgba(18,16,14,1) 0%, rgba(43,65,98,1) 100%);
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: var(--color-normal);
	font-family: "Inter", "Roboto", "Arial", sans-serif;
	line-height: 1.5;
}

nav {
	margin: 0;
	padding: 0;
	position: fixed;
    display: flex;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 999999999;
	border-bottom: var(--margin-xxs) solid var(--color-primary);
    background: rgba(21, 52, 72, 0.35);
    flex-direction: row;
}

span#nav_left {
	align-self: start;
    flex: 1;
}

span#nav_mid {
	padding: var(--margin-s) var(--margin-m);
	align-self: center;
    text-align: center;
}

span#nav_right {
	align-self: end;
    flex: 1;
}

nav > span#nav_right > a {
    float: right;
}

nav > span > a {
    transition: all 0.25s;
    max-width: fit-content;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: var(--margin-s) var(--margin-m);
	color: var(--color-normal);
    background: rgba(60, 91, 111, 0.5);
    border-top: 0.35rem solid transparent;
    border-bottom: 0.35rem solid transparent;
}

a {
	color: var(--color-primary);
}

nav > span > a:hover {
    background: rgb(60, 91, 111);
    border-bottom: 0.35rem solid white;
}

nav > span > a#active {
    background-color: rgb(118, 171, 174) !important;
}

div#page_content {
	margin-top: calc(var(--margin-m) * 2 + var(--margin-xs) + var(--margin-s));
	padding: var(--margin-l);
}

h1 {
	margin-top: 0;
	margin-bottom: var(--margin-l);
}

h2 {
	margin-top: 0;
	margin-bottom: var(--margin-m);
}

h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: var(--margin-s);
}

p {
	text-align: justify;
	margin-top: 0;
	margin-bottom: var(--margin-m);
}

ul {
	margin: var(--margin-xs) 0;
}
