@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	overflow-wrap: break-word;
	word-break: break-word;
	word-wrap: break-word;
}

html {
	background-color: #0D1B2A;
	color: #E0E1DD;
	font-family: "Rubik", sans-serif;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;

	line-height: 1.5;
	font-size: 1.15em;
}

body, html {
	width: 100%;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

content {
	display: block;
	margin : 0 auto;
	padding: 0 0.25cm;
	max-width: 30cm;
}

a {
	color: #778DA9;
}

nav {
	width: 100%;
	height: 4rem;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

nav > iframe {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: .5rem;
}

div.blockquote {
	border-left-style: solid;
	border-left-width: .25rem;
	border-left-color: #E0E1DD;

	padding: .5rem;
}

pre {
	width: fit-content;
}

code {
	font-family: 'Cascadia Code', monospace, sans-serif;
	border-radius: 5px;

	background-color: #1B263B !important;
}

code:not(pre > code) {
	position: relative;
	z-index: -1;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

footer {
	background-color: #1B263B;
	margin-top: 100vh;
	padding: 2em 0;

	font-size: 1.25em;
	text-align: center;
}
